@{
    ViewBag.Title = "About IS Core Planner";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div id=" intro" class="">
    <p>Use this area to provide additional information. <br />  We are tiered of never being prepeared for IS 405 so a planner was invented</p>
</div>
<div id="main">
    <p>
        GitHub	Sign in
        eaallen,
        We found a vulnerable dependency in a repository you have security alert access to.
        GitHub	Sign in
        eaallen,
        We found a vulnerable dependency in a repository you have security alert access to.
        GitHub	Sign in
        eaallen,
        We found a vulnerable dependency in a repository you have security alert access to.
        GitHub	Sign in
        eaallen,
        We found a vulnerable dependency in a repository you have security alert access to.
    </p>
</div>
<div id="end">
    <p>
        GitHub	Sign in
        eaallen,
        We found a vulnerable dependency in a repository you have security alert access to.
    </p>
</div>
